/* FONTS 

@font-face{
	font-family:DistProTh;
	src: url("fonts/DistProTh.otf");
} /**/

@linkHoverColor:#79d;
@borderColor:#C0C0C0;
@backgroundColor:#FDFDFD;
@subtleTextColor:#777777;

/* GENERIC ELEMENTS */
body {
	background:@backgroundColor;
}
div#page {
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;

	width:85%;
	max-width:960px;
	background:@backgroundColor;
}

h1.pagetitle{

	margin-top:12px;
	margin-bottom:12px;

	text-align:center;
	font-family:"Oxygen",Arial,sans-serif;
	font-weight:100;
	font-size:42px;
	color:#333;

	a {
		color:inherit;
		text-decoration:none;

		transition:color 0.25s ease-out;
		-webkit-transition:color 0.25s ease-out;

		&:hover {
			color:@linkHoverColor;
		}
	}
}

h1.maintitle {

	width:auto;
	margin-top:12px;
	margin-bottom:50px;
	.center;

	text-align:center;
	font-family:"Oxygen",Arial,sans-serif;
	font-weight:100;
	font-size:50px;
	color:#333;

	a {
		color:inherit;
		text-decoration:none;

		transition:color 0.25s ease-out;
		-webkit-transition:color 0.25s ease-out;

		&:hover {
			color:@linkHoverColor;
		}
	}
}

h2,h3,h4,h5,h6 {
	margin-top:20px;
	margin-bottom:20px;
	text-align:left;
	font-size:32px;
	font-family:"Mako",sans-serif;
	color:#666;
	
	clear:both;
}

h3 {
	font-size:28px;
}

h4 {
	font-size:24px;
}

p {
	margin-top:20px;
	margin-bottom:20px;
	
	text-align:justify;
	font-size:14px;
	font-family:Verdana;
	line-height:32px;
	color:#333;
}

ul {
	font-size:13px;
	font-family:Verdana;
	line-height:24px;
	color:#333;
	li {
		color:inherit;
		font-size:inherit;
		font-family:inherit;
		line-height:inherit;
	}
}

i {
	margin-right:24px;
	margin-bottom:24px;
	color:#777;
}

i.icon-facebook:hover {
	color:#3b5998;
}

i.icon-twitter:hover {
	color:#00aced;
}

i.icon-youtube:hover {
	color:#bb0000;
}

a {
	transition:color 0.25s ease-out;-webkit-transition:color 0.25s ease-out;
	
	&:link {	/* unvisited link */
		color:#9999B4;text-decoration:none;
	}      
	&:visited {		/* visited link */
		color:#9999B4;text-decoration:none;
	}
	&:hover {		/* mouse over link */
		color:@linkHoverColor;text-decoration:none;
	}
	&.distinct {
		text-decoration:underline;
	}
}



/* TOP BAR ELEMENTS */
div.topbar {

	.glcolumn(6);
	height:40px;

	font-size:12px;
	line-height:40px;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	text-transform:uppercase;
	text-align:center;
	color:#777;
	
	// padding-top:10px;
	// padding-bottom:17px;
	// padding-left:5%;
	// padding-right:5%;
	
	transition:background 0.3s linear, color 0.3s linear;
	-webkit-transition:background 0.3s linear, color 0.3s linear;
	&:hover {
		color:@backgroundColor;
		background:#777;
	}
}



div.topbarcurrent {
	float:left;
	height:13px;
	
	font-size:12px;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	text-transform:uppercase;
	text-align:center;
	color:#F5F5F5;
	background:#7D7D7D;
	
	padding-top:10px;
	padding-bottom:17px;
	padding-left:5%;
	padding-right:5%;
	
	transition:background 0.3s linear, color 0.3s linear;
	-webkit-transition:background 0.3s linear, color 0.3s linear;

	&:hover {
		color:@backgroundColor;
		background:#666666;
	}
}

div.topbarcontainer {
	width:100%;
	margin:0;
	.clearfix;
	clear:both;

	margin-bottom:24px;

	border-top:1px solid @borderColor;
	border-bottom:1px solid @borderColor;
}

/* BODY ELEMENTS */
div.bodycontainer {
	width:100%;
	margin:0;
	min-height:500px;

	a.imglink {
		width:auto;
		.center;
	}

	img {
		width:100%;
		.center;

		border:1px solid @borderColor;
		padding:6px;

		&:hover {
			border:1px solid #333;
		}
	}

	img.large {
		max-width:720px;
	}

	img.medium {
		max-width:480px;
	}

	img.small {
		max-width:320px;
	}

	img.tiny {
		max-width:240px;
	}
}

div.bodytextcontainer {
	width:100%;
	float:right;
}

div.gridentry {
	.column(12);
	.clearfix;
	position:relative;
	margin-bottom:20px;
	border:1px solid rgba(0,0,0,0);
	height:200px;

	transition:border 0.25s ease-out;
	-webkit-transition:border 0.25s ease-out;

	div.gridentrymask {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:1;
		transition:background 0.25s ease-out;
		-webkit-transition:background 0.25s ease-out;
		background:rgba(255,255,255,0);
	}

	div.gridentrytext {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		padding:10px;
		z-index:2;
		

		font-family:"Mako",sans-serif;
		font-size:24px;
		color:#555;
		text-align:center;
		vertical-align:middle;

		transition:color 0.25s ease-out, background 0.1s ease-out, text-shadow 0.1s ease-out;
		-webkit-transition:color 0.25s ease-out, background 0.1s ease-out, text-shadow 0.1s ease-out;

		background:rgba(0,0,0,0);
	}

	i {
		z-index:2;

		position:absolute;
		bottom:0;
		left:0;

		color:#777;

		width:100%;
		text-align:center;
		line-height:140px;
		font-size:120px;
		vertical-align:middle;

		transition:font-size 0.25s ease-out, color 0.25s ease-out;
		-webkit-transition:font-size 0.25s ease-out, color 0.25s ease-out;
	}



	&:hover {
		//border: 1px solid @borderColor;
		
		.gridentrytext {
			//background:@backgroundColor;
			//color:@linkHoverColor;
		}
		.gridentrymask {
			//background:rgba(0,0,0,0.2);	
		}
		i {
			font-size:132px;
			color:#333;
		}

		// i#audioicon {
		// 	color:#ee4d33;
		// }
		// i#webicon {
		// 	color:#2266dd;
		// }
		// i#gameicon {
		// 	color:#016938;
		// }
		// i#physicsicon {
		// 	color:#7755EE;
		// }
		// i#musicicon {
		// 	color:#EE7733;
		// }
		// i#abouticon {
		// 	color:#CC2222;
		// }
	}
}

a.projentrylink {
	text-decoration:none;
}
a.projentrylink:link {color:inherit;text-decoration:none;}      /* unvisited link */
a.projentrylink:visited {color:inherit;text-decoration:none;}  /* visited link */
a.projentrylink:hover {color:inherit;text-decoration:none;}  /* mouse over link */

div.projentry {
	.column(12);
	.clearfix;
	padding-top:24px;
	padding-bottom:24px;
	border-top:1px solid @borderColor;
	transition:padding 0.25s ease-out, background 0.25s ease-out;
	-webkit-transition:padding 0.25s ease-out, background 0.25s ease-out;

	div#imgwrapper {
		width:100%;
		height:200px;
		float:left;
		// background:rgba(0,0,0,0.4);
		margin-bottom:24px;

		img {
			.center;
			
			padding:0;
			border:none;

			max-height:100%;
			width:auto;
			max-width:100%;
		}
	}

	div#contentwrapper {
		width:100%;
		float:right;
		// background:rgba(0,0,255,0.1);

		h3 {
			transition:color 0.25s ease-out;
			margin-top:0;
		}
	}

	&:hover {
		background:rgba(0,0,0,0.05);
		div#contentwrapper {
			h3 {
				color:@linkHoverColor;
			}
		}
	}
}


div.videowrapper {
	.column(12);

	iframe {
		.center;
	}

	p.caption {
		margin-left:15%;
		margin-right:15%;

		color:@subtleTextColor;
		font-size:12px;
		line-height:16px;
		text-align:center;
	}
}



/* FOOTER ELEMENTS */
div.footercontainer {
	width:100%;
	height:25px;
	margin:0;
	margin-top:24px;
	margin-bottom:6px;
	clear:both;
	
	border-top:1px solid @borderColor;
}

div.footertextcontainer {
	height:20px;
	
	margin-top:6px;
	
	font-size:12px;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	text-align:center;
	color:@subtleTextColor;

	a {
		text-decoration:underline;
		color:inherit;
		font-size:inherit;
		&:hover {
			color:inherit;
		}
	}
}



