div.topbar {	
	.glcolumn(2);
}

div.gridentry {
	.column(4);
	margin-bottom:20px;
}

div.projentry {
	div#imgwrapper {
		width:35%;
	}

	div#contentwrapper {
		width:60%;
		p.projentrytext {
			font-size:16px;
		}
	}
}

